# Einführung
Dies ist das erste Jupyter Notebook für den Data-Science-Kurs. Das schöne daran ist, dass man Text schreiben kann wie in einem wissenschaftlichen Bericht, aber auch gleich den Python-Code direkt einbetten.
# Code
Das folgende ist ein einfaches Beispiel für den Python code:

In [11]:
a = 3.4
b = 2.1

print(a+b)

5.5

In [13]:
import pandas as pd
kassel = pd.read_csv('Forschungsdaten_02_csv.csv', index_col=0, encoding="latin1")
print(kassel)

      EW_Gesamt  EW_ unter 30_J Gesamtzahl  EW 30-60_J Gesamtzahl  \
2007     192121                      49052                  45602
2008     191959                      49004                  45549
2009     192241                      49177                  45515
2010     193112                      49393                  45524
2011     194109                      49623                  45862
2012     195422                      49521                  46600
2013     196758                      66270                  51125
2014     197092                      66596                  80572
2015     200507                      68790                  81453
2016     201907                      69862                  81458
2017     204021                      70873                  82160

      EW_Ã¼ber 60_J Gesamtzahl  Haushalte_insgesamt  1-Prs.haushalte  \
2007                     42072               102003            49692
2008                     42397               102384            50656
2009                     42510               102867            50467
2010                     42466               103884            51726
2011                     42588               102343            50814
2012                     42695               103825            52210
2013                     49662               105889            54076
2014                     49924               106459            54653
2015                     50264               108082            56145
2016                     50587               108913            56541
2017                     50988               109533            56669

      1-Prs.haushalt unter 30_J  1-Prs.haushalt 30-60_J  \
2007                      11660                   21157
2008                      12451                   22425
2009                      12355                   21226
2010                      12782                   21735
2011                      12782                   22026
2012                      13238                   22628
2013                      14165                   23223
2014                      14341                   23392
2015                      14918                   24173
2016                      15110                   23939
2017                      14920                   23991

      1-Prs.haushalt Ã¼ber 60_J
2007                      16875
2008                      15780
2009                      16886
2010                      17209
2011                      16006
2012                      16344
2013                      16688
2014                      16920
2015                      17054
2016                      17492
2017                      17758

Wenn man Shift+Enter drückt, wird der Code ausgeführt und man erhät das Ergebnis.

# Diskussion
Sind 2 und 2 wirklich immer 4? Diese spannende Frage ist nicht so trivial, wie sie scheint, und wird von Muller et al. (2010) ausführlich erörtert.

# Literaturangaben
Muller, J.-M., Brisebarre, N., de Dinechin, F., Jeannerod, C.-P., Lefèvre, V., Melquiond, G., Revol, N., Stehlé, D., Torres, S. (2010). Handbook of floating-point arithmetic. Heidelberg: Springer Nature.

In [16]:
frage1=kassel[["Haushalte_insgesamt", "1-Prs.haushalte"]]

In [17]:
print(frage1)

      Haushalte_insgesamt  1-Prs.haushalte
2007               102003            49692
2008               102384            50656
2009               102867            50467
2010               103884            51726
2011               102343            50814
2012               103825            52210
2013               105889            54076
2014               106459            54653
2015               108082            56145
2016               108913            56541
2017               109533            56669

In [25]:
print((frage1["1-Prs.haushalte"] / frage1["Haushalte_insgesamt"]) * 100)

2007    48.716214
2008    49.476481
2009    49.060437
2010    49.792076
2011    49.650684
2012    50.286540
2013    51.068572
2014    51.337134
2015    51.946670
2016    51.913913
2017    51.736919
dtype: float64