#### JupyterNotebook Gruppe A
# Untersuchung des Bevölkerungsanstieges der Stadt Magdeburg seit 2004 bis 2017


## Inhaltsverzeichnis
1. Einleitung und Forschungsfrage
2. Datenaufbereitung
3. Berechnung
    3.1. demografische Zusammensetzung
    3.2  ethnische Zusammensetzung
4. Ergebnisse



## 1. Einleitung und Forschungsfrage

2004 hatte Magdeburg mit 226.610 Einwohnern den geringsten Einwohnerwert seit der Wiedervereinigung erreicht (Anm. noch mit Quelle belegen, Henning). Seitdem ist die Bevölkerungszahl wieder kontinuierlich gestiegen. 2017 lebten mit 241.769 Einwohnern 6,69% mehr Menschen in der Stadt als noch 2004. Die 5. Regionalisierte Bevölkerungsprognose (RBP) für Sachsen-Anhalt ging 2008 noch von einer Stadtbevölkerung von 232.154 Einwohnern im Jahr 2017 aus. Diese Prognose ging mit einem stetigen Bevölkerungsrückgang in den darauffolgenden Jahren einher. (Quelle: https://www.destatis.de/GPStatistik/servlets/MCRFileNodeServlet/STHeft_derivate_00000013/6A111_2008_2025.pdf, S. 25). Der 2006 von der Bertelsmann Stiftung publizierte “Wegweiser Demographischer Wandel 2020” ging sogar noch einen Schritt weiter und prognostizierte für das Jahr 2020 einen Bevölkerungsrückgang um 11,2%, verglichen mit dem Stichjahr 2003. Dies entspricht, bei einer Bevölkerung von ursprünglich 227.129 Menschen (Stand: 2003), insgesamt 201.691 Einwohner. (Quelle: http://shrinking.ums-riate.fr/Ressources/Chap_07/SCH_06.pdf, S. 43)

Die Projektgruppe möchte sich deshalb mit folgender Forschungsfrage beschäftigen:

#### “Hat sich im Zuge des Bevölkerungsanstieges der Stadt Magdeburg seit 2004 bis 2017 die Zusammensetzung der Bevölkerung verändert?”

Dazu wird konkret folgende Unterfrage bearbeitet:
#### Wie setzt(e) sich die Bevölkerung im Jahr 2004 gegenüber der Bevölkerung im Jahr 2017 ethnisch und demografisch zusammen?

Zusätzlich soll eine Alterssegregation sowie eine ethnische Segregation berechnet werden.
--> Hypothesen fehlen noch!

## 2. Datenaufbereitung

Die benötigten Daten wurden von der Stadt Magdeburg bereit gestellt. (...)
--> vllt hier dann einmal alle Daten einladen und beschreiben?
--> einmal als Tabelle darstellen?

## 3. Berechnung

### 3.1. Berechnung demografische Zusammensetzung und Alterssegregation

#### Ziele:
1. Variable erstellen mit der (Rest)-Quote für das mittlere Alter in den Stadtteilen (Hintergrund: Als Daten liegen uns die Quoten für die Jugend und das Alter vor)
2. Absolute Werte für die ALtergruppen erstellen

In [1]:
import pandas as pd
import numpy as np
magdeb = pd.read_csv("MagdeburgBereinigterDatensatzVers005.csv",
                     sep = ";",
                     decimal= ",") #Einlesen des Datensatzes

#help(pd.read_csv)
print(magdeb.head())

# Auswählen von einezelnen Zellen (Altersquote und Jugenquote)
JQ04 = magdeb.loc[[0], ["JQ_2004"]]
AQ04 = magdeb.loc[[0], ["AQ_2004"]]

print(type(magdeb.loc[[0], ["JQ_2004"]])) 

print(type(JQ04))
print(type(AQ04))

# Versuch in Array zu transfomrmieren, um Berechnungen durchführen zu können
JQ04A = np.array(JQ04)
AQ04A = np.array(AQ04)

print(type(JQ04A))
print(type(AQ04A))

print(JQ04A)
print(AQ04A)

MAQ04 = JQ04A * AQ04A
print(MAQ04)
#

   STD_NR        STD_name  EW_2004  EW_2005  EW_2006  EW_2007  EW_2008  \
0       1        Altstadt  12786.0  13580.0  13892.0  14140.0  14532.0
1       2          Werder   2490.0   2594.0   2691.0   2663.0   2709.0
2       4   Alte Neustadt   9050.0   9183.0   9347.0   9534.0   9641.0
3       6   Neue Neustadt  13572.0  13566.0  13583.0  13631.0  13757.0
4       8  Neustädter See  11902.0  11784.0  11829.0  11784.0  11557.0

   EW_2009  EW_2010  EW_2011   ...     DA_2008  DA_2009  DA_2010  DA_2011  \
0  14863.0  14982.0  15263.0   ...        47.1     47.2     47.1     46.9
1   2759.0   2893.0   2964.0   ...        47.0     47.6     47.6     48.1
2   9794.0  10124.0  10321.0   ...        42.9     42.6     42.3     42.1
3  13684.0  13674.0  13765.0   ...        45.6     45.9     45.9     45.9
4  11608.0  11568.0  11529.0   ...        49.8     50.1     49.8     49.8

   DA_2012  DA_2013  DA_2014  DA_2015  DA_2016  DA_2017
0     47.0     46.6     46.9     46.6    46.39    46.34
1     48.8     49.0     48.8     48.7    48.92    48.93
2     41.9     41.2     40.8     40.0    40.07    40.36
3     45.9     44.9     44.7     43.7    42.84    42.67
4     50.1     49.7     50.0     50.0    49.14    49.13

[5 rows x 172 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[16.6]]
[[56.7]]
[[941.22]]

In [33]:
import pandas as pd
import numpy as np
magdeb = pd.read_csv("MagdeburgBereinigterDatensatzVers005.csv",
                     sep = ";",
                     decimal= ",") #Einlesen des Datensatzes

#help(pd.read_csv)
magdeb.head()

sum(magdeb["EW_2004"])

EWT_2004 = magdeb.loc[[0], ["EW_2004"]]
EWT_2005 = magdeb.loc[[0], ["EW_2005"]]
EWT_2006 = magdeb.loc[[0], ["EW_2006"]]
EWT_2007 = magdeb.loc[[0], ["EW_2007"]]
EWT_2008 = magdeb.loc[[0], ["EW_2008"]]
EWT_2009 = magdeb.loc[[0], ["EW_2009"]]
EWT_2010 = magdeb.loc[[0], ["EW_2010"]]
EWT_2011 = magdeb.loc[[0], ["EW_2011"]]
EWT_2012 = magdeb.loc[[0], ["EW_2012"]]
EWT_2013 = magdeb.loc[[0], ["EW_2013"]]
EWT_2014 = magdeb.loc[[0], ["EW_2014"]]
EWT_2015 = magdeb.loc[[0], ["EW_2015"]]
EWT_2016 = magdeb.loc[[0], ["EW_2016"]]
EWT_2017 = magdeb.loc[[0], ["EW_2017"]]

#EW_ent_04B17 = [EWT_2004, EWT_2005, EWT_2006, EWT_2007, EWT_2008, EWT_2009, EWT_2010, EWT_2011, EWT_2012, EWT_2013, EWT_2014, EWT_2015, EWT_2016, EWT_2017]
#EW_ent_EW_ent_04B17 = np.array(EW_ent_04B17)

print(EW_ent04_17[1])
print(type(EW_ent04_17))

   EW_2005
0  13580.0
<class 'list'>

In [27]:
import pandas as pd
import numpy as np
magdeb = pd.read_csv("MagdeburgBereinigterDatensatzVers005.csv",
                     sep = ";",
                     decimal= ",") #Einlesen des Datensatzes


sum(magdeb[["EW_2004"]])

NameError: name 'EW_2004' is not defined

In [41]:
import pandas as pd
import numpy as np
import math as mt
magdeb = pd.read_csv("MagdeburgBereinigterDatensatzVers005.csv",
                     sep = ";",
                     decimal= ",") #Einlesen des Datensatzes

print(magdeb["DA_2004"])
print(magdeb["AQ_2004"])
print(magdeb["JQ_2004"])

#Hypothese. Je älter der Stadtteil, desto älter der Gesamtdurchschnitt
mt.
cor.ALT = magdeb["DA_2004"].cor(magdeb["AQ_2004"])
cor.JUG = magdeb["DA_2004"].cor(magdeb["JQ_2004"])

0     48.8
1     45.9
2     45.2
3     45.2
4     49.5
5     47.6
6     44.6
7      NaN
8     45.1
9     40.5
10    41.6
11    41.8
12    48.6
13    42.8
14    43.5
15    41.5
16    46.0
17    47.1
18    48.8
19    43.7
20     NaN
21    37.7
22    45.6
23    45.0
24    45.7
25    42.3
26    42.7
27    44.3
28    40.8
29     NaN
30     NaN
31    46.4
32    44.1
33    41.0
34     NaN
35    48.0
36    40.0
37    43.2
38    43.5
Name: DA_2004, dtype: float64
0     56.7
1     28.7
2     45.2
3     34.8
4     42.7
5     32.4
6     22.9
7      NaN
8     24.0
9     17.2
10    22.4
11    28.5
12    43.8
13    21.5
14    30.5
15    19.0
16    31.8
17    42.6
18    39.7
19    24.0
20     NaN
21    16.4
22    34.6
23    27.8
24    32.5
25    28.7
26    19.4
27    29.0
28    18.5
29     NaN
30     NaN
31    30.9
32    23.1
33     NaN
34     NaN
35    29.4
36    19.1
37    27.3
38    21.4
Name: AQ_2004, dtype: float64
0     16.6
1     15.2
2     17.3
3     20.1
4     18.1
5     18.1
6     17.7
7      NaN
8     18.2
9     25.7
10    23.5
11    22.7
12    19.0
13    22.9
14    20.3
15    24.6
16    18.2
17    20.8
18    19.1
19    21.3
20     NaN
21    23.6
22    19.9
23    19.7
24    22.6
25    25.3
26    22.6
27    20.6
28    29.3
29     NaN
30     NaN
31    12.4
32    17.1
33     NaN
34     NaN
35    17.6
36    31.3
37    26.5
38    18.9
Name: JQ_2004, dtype: float64

AttributeError: 'Series' object has no attribute 'cor'

### 3.1 Berechnung ethnische Zusammensetzung

Ziele: ethnische Zusammensetzunganhand der Daten 'Ausländische Bevölkerung' für die Zeitpunkte 2004 und 2017 berechnen